.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.navbar {
  display: flex;
  justify-content: space-between;
}

.filters {
  display: flex;
}

.releases {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
}

.release-card {
  display: flex;
  flex-direction: column;
}

.page-header {
  font-size: 4rem;
}
